*
{
	cursor: url(cursor.png), auto;
}

body
{
	background-color: black;
	color: white;
	overflow-y: hidden;
}

#main_canvas
{
	background-color: #404040;
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	border: 4px solid #98BF21;
	cursor: url(cursor_canvas.png), auto;
}

#main_canvas:hover
{
	border: 4px solid red;
}

#dbg
{
	position: absolute;
	bottom: 0px;
	height: 9%;
	overflow-y: auto;
	left: 0px;
	width: 100%;
	background-color: #98BF21;
	color: #602571;
	padding: 0px;
	margin: 0px;
	display: none;
}

#toolbox
{
	position: absolute;
	bottom: 0px;
	width: 90%;
	left: 5%;
	background-color: #404040;

	display: -webkit-box;
	display: -mox-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: stretch;

	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

#toolbox div
{
	border: 4px solid #98BF21;
	margin-left: 1px;
	margin-right: 1px;
	padding-left: 10px;
	padding-right: 10px;
}

#toolbox div:hover
{
	border: 4px solid red;
}

#sesname
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 40%;
	height: 32px;
	border: 4px solid #98BF21;
	border-radius: 20px;
	padding-left: 16px;
	background-color: #404040;
	color: #C6C6C6;
}

#mesbox
{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	padding: 32px;
	-webkit-transition: all .5s ease-in-out;
	-webkit-transform: translate(-150%, 150%);
	-moz-transition: all .5s ease-in-out;
	-moz-transform: translate(-150%, 150%);
	-ms-transition: all .5s ease-in-out;
	-ms-transform: translate(-150%, 150%);
	-o-transition: all .5s ease-in-out;
	-o-transform: translate(-150%, 150%);
	transition: all .5s ease-in-out;
	transform: translate(-150%, 150%);
}

#mesbox_back
{
	opacity: 0.4;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 32px;
	padding-top: 64px;
}

#message
{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 60%;
	height: 60%;
	background-color: black;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	overflow-y: auto;
	text-align: center;
	border: 4px solid #98BF21;
	-webkit-transition: all .5s ease-in-out;
}

#close_message_box
{
	position: fixed;
	bottom: 20%;
	left: 20%;
	right: 10%;
	width: 60%;
	background-color: #404040;
}

#message:hover
{
	border: 4px solid red;
	//-webkit-transform: translate(-50%, -50%) rotate(1.2deg);
	-moz-transform: translate(-50%, -50%) rotate(1.2deg);
	-ms-transform: translate(-50%, -50%) rotate(1.2deg);
	-o-transform: translate(-50%, -50%) rotate(1.2deg);
	transform: translate(-50%, -50%) rotate(1.2deg);
}

#message a
{
	color: #C6C6C6;
	background-color: black;
}

#message a:hover
{
	color: #404040;
	background-color: #C6C6C6;
}

.blinky_border
{
	border: 4px solid #98BF21;
}

.blinky_border:hover
{
	border: 4px solid red;
}

#caption
{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #98BF21;
	text-align: center;
	color: #602571;
}

#message_con
{
	position: relative;
	top: 0px;
	left: 0px;
	color: white;
	padding: 16px;
}

#sesname:hover
{
	border: 4px solid red;
}

#sesname:active, #sesname:focus
{
	border: 4px solid red;
}

#sesname:focus
{
	background-color: #C6C6C6;
	color: #404040;
}

#infobox
{
	position: fixed;
	top: 10%;
	left: 5%;
	background-color: #404040;
	border: 4px solid #98BF21;
	width: 256px;
	height: 128px;
	color: #C6C6C6;
	text-align: center;
	display: none;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

#infobox:hover
{
	border: 4px solid red;
}

#link_presenter
{
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 8px;
	padding-left: 16px;
	padding-right: 16px;
	background-color: #404040;
	color: #C6C6C6;
	border: 4px solid #98BF21;
}

#link_presenter:hover
{
	bottom: 16px;
	border: 4px solid red;
}

#servcon
{
	position: fixed;
	top: 8px;
	right: 4px;
	background-color: green;
	width: 64px;
	height: 64px;
	border-radius: 50%;
}

#servicon:hover
{
	border-radius: 0px;
}

#instructions_box
{
	background-color: #404040;
	position: fixed;
	top: 0px;
	right: 80px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 24px;
	border: 4px solid #98BF21;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

#instructions_box:hover
{
	top: 8px;
	border: 4px solid red;
}

#status_light
{
	position: fixed;
	width: 64px;
	height: 64px;
	top: 80px;
	right: 4px;
	background-color: red;
	border-radius: 50%;
}

#status_light2
{
	position: fixed;
	width: 64px;
	height: 64px;
	top: 152px;
	right: 4px;
	background-color: red;
	border-radius: 50%;
}
#status_light3
{
	position: fixed;
	width: 64px;
	height: 64px;
	top: 224px;
	right: 4px;
	background-color: red;
	border-radius: 50%;
}
#status_light4
{
	position: fixed;
	width: 64px;
	height: 64px;
	top: 296px;
	right: 4px;
	background-color: red;
	border-radius: 50%;
}

#status_holder
{
	position: fixed;
	width: 72px;
	height: 364px;
	top: 0px;
	right: 0px;
	background-color: #404040;
}

#status_holder_2
{
	position: fixed;
	width: 72px;
	height: 148px;
	top: 0px;
	right: 0px;
	background-color: #404040;
}